Brotli
click
dash
dash-bootstrap-components
dash-core-components
dash-daq
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
itsdangerous
Jinja2
MarkupSafe
plotly
python-dateutil
pytz
retrying
six
Werkzeug
